@import "./index.scss";
.box-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-search__input {
  width: 100%;
  height: 3.5rem;
  padding: 0 1.5rem;
  background-color: rgba(var(--bs-light-rgb)) !important;
  border-right: none;
  border-radius: 3px 0px 0 3px;
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.3s;
  &:focus {
    border-color: #4eac6d;
  }
  border: none;
  color: var(--bs-body-color);
}
.box-search__button {
  transition: 0.3s;
  svg {
    display: block;
    color: var(--bs-icon-search);
  }
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 100%;
  background-color: rgba(var(--bs-light-rgb));
  border-radius: 0 3px 3px 0;
  &:hover {
    background-color: var(--bs-btn-hover-bg);
  }
}
