@import "../styles/index.scss";
.inbox-contact__wrapper {
  padding: 0 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.inbox-contact__inbox-user-img {
  max-width: 3.8rem;
  min-width: 3.5rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.inbox-contact__inbox-content {
  width: 100%;
}
.inbox-contact__inbox-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inbox-contact__inbox-name {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--bs-inbox-text);
    font-size: 1.35rem;
    font-weight: 600;
  }
}
.inbox-contact__inbox-last-messages {
  p {
    max-width: 14rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--bs-inbox-text);
    font-size: 1.1rem;
  }
}
.inbox-contact__inbox-contact--effect {
  background-color: #4eac6d;
  .inbox-contact__inbox-name {
    p {
      color: #fff;
    }
  }
  .inbox-contact__inbox-last-messages {
    p {
      color: #fff;
    }
  }
  .inbox-contact__inbox-time {
    p {
      color: #fff;
    }
  }
}
.inbox-contact__inbox-contact {
  transition: 0.3s;
  cursor: pointer;
  padding: 1rem 0;
  // &:hover {
  //   background-color: #4eac6d;
  //   .inbox-contact__inbox-name {
  //     p {
  //       color: #fff;
  //     }
  //   }
  //   .inbox-contact__inbox-last-messages {
  //     p {
  //       color: #fff;
  //     }
  //   }
  //   .inbox-contact__inbox-time {
  //     p {
  //       color: #fff;
  //     }
  //   }
  // }
}
.inbox-contact__inbox-status {
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #4eac6d;
  height: 2rem;
  width: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  color: #fff;
}
.inbox-contact__simple-bar-body {
  ul {
    display: grid;
    gap: 2rem;
  }
}
