@import "./index.scss";
.side-menu {
  min-width: 7.5rem;
  max-width: 7.5rem;
  height: 100%;
  min-height: 57rem;
  background-color: var(--bs-sidebar-bg);
  display: flex;

  border-right: 1px solid var(--bs-sidebar-bg);
  padding: 0 0.8rem;
  @media (min-width: 992px) {
    flex-direction: column !important;
    position: fixed;
    top: 0;
    padding-bottom: 0;
  }
  @media (max-width: 991px) {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 0;
    width: 100vw;
    max-width: 100%;
    min-height: auto;
    height: auto;
  }
}
.side-menu__nav-item-logo {
  display: inline-grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.side-menu__logo-sm {
  svg {
    color: rgba(var(--bs-link-color-rgb));
  }
}
// .fill-current {
//   color: rgba(var(--bs-link-color-rgb));
// }
// .side-menu__nav-item{
//     a{
//         color: var(--bs-link-color-rgb);
//     }
// }
.side-menu__navbar-brand-box {
  display: inline-flex;
  color: var(--bs-sidebar-menu-item-color);
  width: 100%;
  height: 7rem;
  line-height: 56px;
  border-radius: 0;
  padding: 0;
  position: relative;
  svg {
    margin: 0 auto;
    width: 3.5rem;
    height: 3.5rem;
  }
  @media (max-width: 991px) {
    display: none;
  }
}
.side-menu__nav-link {
  margin: 0.8rem 0;
  text-align: center;
  font-size: 28px;
  color: var(--bs-sidebar-menu-item-color);
  width: 100%;
  height: 56px;
  line-height: 56px;
  border-radius: 0;
  padding: 0;
  position: relative;
}
.side-menu__nav-link--profile,
.side-menu__nav-link--settings {
  @media screen and (max-width: 991px) {
    display: none;
  }
}
.side-menu__nav-link-icon {
  cursor: pointer;
  svg {
    // display: inline-block;
    width: 3rem;
    height: 3rem;
  }
  color: var(--bs-sidebar-menu-item-color);
  border-radius: 0;
  padding: 0;
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.side-menu__nav-link-icon--avatar {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  img {
    width: 100%;
    height: 100%;
  }
  //   @media (min-width: 992px) {
  //     position: absolute;
  //     bottom: 0;
  //     .side-menu__navigation{
  //       height: 100%;
  //       ul {
  //         height: 100%;
  //       }
  //     }
  //   }
}
.side-menu__nav-link--avatar {
  max-width: 5.8rem;
  min-height: 5.8rem;
  @media (min-width: 992px) {
    position: absolute;
    bottom: 0;
    .side-menu__navigation {
      height: 100%;
      ul {
        height: 100%;
      }
    }
  }
}
@media (min-width: 992px) {
  .side-menu__navigation {
    height: 100%;
    ul {
      height: 100%;
    }
  }
}
@media (max-width: 991px) {
  .side-menu__navigation {
    height: 100%;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
    }
  }
  .side-menu__nav-link {
    width: auto;
  }
}
.side-menu__nav-link-icon--tooltip-effect {
  transition: 0.3s;
  svg {
    color: #4eac6d;
  }
}
.side-menu__pills {
  position: relative;
  transition: 0.3s;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.3rem;
    height: 0%;
    transform: translateY(-50%);
    background-color: #4eac6d;
    z-index: 11;
    border-radius: 5rem;
  }
}
.side-menu__pills--active {
  &::before {
    transition: 0.3s;
    height: 50%;
  }
}
a:active {
  border: none !important;
}
// .side-menu__nav-link-icon--dark,
// .side-menu__nav-link-icon--sun {
//   width: 3rem;
// }
.side-menu__nav-link-icon--sun {
  visibility: hidden;
  display: none;
}
.side-menu__dark-mode-active {
  .side-menu__nav-link-icon--dark {
    visibility: hidden;
    display: none;
  }
  .side-menu__nav-link-icon--sun {
    visibility: visible;
    display: inline-flex;
  }
}
