@import "./index.scss";
.tab-content {
  @media (min-width: 992px) {
    min-width: 300px;
    max-width: 300px;
    height: 100vh;
    margin-left: 7.4rem;
  }
  background-color: var(--bs-sidebar-sub-bg);
  box-shadow: 0 2px 4px #0f223a1f;
}
.tab-content__header {
  padding-top: 2.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
.tab-content__body {
  margin: 2.5rem 0;
  overflow-y: scroll;
  height: 60rem;
  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7d7c7c;
    border-radius: 20px;
  }
}
.tab-content__flex--header-title {
  align-items: start !important;
}
.tab-content__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-content__title {
  margin-bottom: 2.4rem;
  width: 100%;
  h4 {
    font-size: 2.1rem;
    color: var(--bs-heading-color);
    font-weight: 600;
    line-height: 1.2;
  }
}
.tab-content__simple-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 2.4rem 2.4rem;
}
.tab-content__simple-bar-title {
  h5 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--bs-secondary-color);
  }
  text-transform: uppercase;
}
