@import "./index.scss";
.tooltip-text {
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--bs-tooltip-bg);
  color: var(--bs-tooltip-color);
  line-height: 1.25rem;
  padding-left: 1.3rem;
  padding-right: 1.2rem;
  padding-top: 1.35rem;
  padding-bottom: 1rem;
}
